<!DOCTYPE html>
<html lang="en" data-theme=<%=theme%>>

<head>
    <title>F1 Difficulty Calculator </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div id="card" name=<%=name%> class="flex w-full h-[100px] bg-neutral border-accent border-[1px] rounded-lg hover:border-accent-content">
        <div class="flex w-full items-center">
            <p>
                <%= name %>
            </p>
            <p>
                <% if (time) {%>
                    Time:
                    <%= time%>
                    <% } %>
            </p>
            <p>
                <% if (difficulty) {%>
                    Difficulty:
                    <%= difficulty%>
                    <% } %>
            </p>
            <img class="h-auto max-h-[50%] justify-self-end" src=<%=flag%> alt='flag'/>
        </div>
    </div>
</body>

</html>